.contact {
    background-color: var(--white);
    padding: 2em 1.5em;
}

.contact__title, .contact__text {
    background: var(--gradient-blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contact__title {
    font-size: 18px;
    font-weight: 500;
}

.contact__text {
    font-weight: 300;
    margin: 1em 0;
}

.contact__email {
    background-color: transparent;
    border: 1px solid var(--blue);
    border-radius: 24px;
    padding: 0.9em;
    margin-top: 1em;
    color: var(--blue);
    width: 90%;
}

.contact__email::placeholder {
    font-family: var(--main-font);
    color: var(--blue);
    background-image: url(../assets/Email.svg);
    background-position: 56% 50%;
    padding: 0 2em 0 0.8em;
    background-repeat: no-repeat;
    justify-content: center;
}

@media screen and (min-width: 1024px) {
    .contact {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2.8em;
    }

    .contact__title {
        font-size: 24px;
    }

    .contact__description {
        margin-right: 1em;
        width: 35%;
    }

    .contact__email {
        width: 30%;
    }

    .contact__email::placeholder {
        padding-left: 3.2em;
        background-position: 1em;
    }
}

@media screen and (min-width: 1728px) {
    .contact {
        padding: 4em 16vw;
    }

    .contact__text {
        padding-right: 3em;
    }
}